@import "../../scss/variables.scss";

.apptoolbar {
    background-color: $color_white !important;
    max-height: $header-height !important;
    display: flex !important;
    justify-content: center !important;
}

.toolbar {
    &_icon{
        color: $primary_color !important;
    }

    &_brand{
        max-width: 12%;
        @media screen and (max-width:900px) {
            max-width: 30%;
        }

        @media screen and (max-width:600px) {
            max-width: 25%;
            max-height: 2rem;
        }

        max-height: 3rem;

        &_secondary{
            max-width: 12%;
            max-height: 3rem;

            @media screen and (max-width:900px) {
                max-width: 30%;
            }
    
            @media screen and (max-width:600px) {
                max-width: 25%;
                max-height: 2rem;
            }
        }
    }

    &_heading{
        flex: 1;
        color: $primary_color;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:900px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width:600px) {
            font-size: 1.2rem;
            width:100%;
        }
    }
}



