.dashboard{
    &_item{
        &_visual{
            width: calc(100vw - 240px) !important;
            border: none !important;
            overflow-y:scroll !important;
            @media screen and (max-width:900px) {
                width: 95vw !important;
            }
            z-index: 0;
        }
    }
}
