@import "../../scss/variables.scss";

.drawer {
    &_component {
        position: relative !important;

        & .MuiDrawer-paper {
            box-sizing: border-box !important;
            width: 240px !important;
            top: $header-height !important;
            background-color: #004B9C !important;
            height: calc(100% - $header-height) !important;

            @media screen and (max-width: 600px) {
                top: $header-mobile-height - .4rem !important;
                height: calc(100% - $header-mobile-height) !important;
            }
        }
    }

    &_list {
        padding-top: 0 !important;

        &_button {
            text-align: start !important;
            color: white !important;

            &:hover {
                background-color: $secondary_color !important;
            }
        }

        &_selected {
            background-color: $secondary_color !important;
        }

        &_wrapper {
            text-align: center;
        }

        &_text {
            margin-left: 10px
        }
    }

    &_subitem {
        width: 100% !important;

        &_list {
            padding-top: 0 !important;

            &_button {
                text-align: start !important;
                color: white !important;
                padding-left: 40px !important;
                &:hover {
                    background-color: $secondary_color !important;
                }
            }

            &_selected {
                background-color: $secondary_color !important;
            }

            &_wrapper {
                text-align: center;
            }

            &_text {
                margin-left: 10px
            }
        }
    }

    &_divider{
        background-color: white !important;
    }
}