@import "../../scss/variables.scss";

.drawer {
    &_component {
        position: relative !important;
        & .MuiDrawer-paper {
            box-sizing: border-box !important;
            width: 240px !important;
            top: 6.25rem !important;
            background-color: #004B9C !important;
            height: calc(100% - 6.25rem) !important
        }
    }

    &_list{
        padding-top: 0 !important;
        &_button{
            text-align: start !important;
            color: white !important;
            &:hover{
                background-color: $secondary_color !important;
            }
        }

        &_selected{
            background-color: $secondary_color !important;
        }

        &_wrapper {
            text-align: center;
        }

        &_text{
            margin-left: 10px
        }
    }
}