@import "../../scss/variables.scss";

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &_wrapper{
      display: flex;
      position: relative;
    }

    &_chat{
      z-index: 10000;
      position: fixed;
      bottom: 5%;
      right: 3%;
      cursor: pointer;
      background-color: rgb(220, 220, 220);
      height: 100px;
      width: 100px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 900px) {
        height: px;
        width: 100px;
      }

      &_icon{
        color: $secondary_color;
      }

      &_text{
        color: $secondary_color;
        font-weight: 700;
        font-size: 25px;
      }
    }
}