@import "../../scss/variables.scss";

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &_item{
        position: fixed !important;
        top: 4rem !important;
        width: 100vw !important;
        height: calc(100% - 4rem);
        left: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
      
        &__scroll {
            height: 100%;
            overflow-y: auto;
            z-index: 10;
            overflow-x: hidden;
        }
    }

    &_wrapper{
      display: flex;
      position: relative;
    }

    &_chat{
      z-index: 10000;
      position: fixed;
      bottom: 5%;
      right: 3%;
      cursor: pointer;
      background-color: rgba(200, 200, 200, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      height: 80px;
      width: 80px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 900px) {
        height: 100px;
        width: 100px;
      }

      &_icon{
        color: $secondary_color;
        height: 70px;
        width:70px;
        border-radius: 50px;
      }

      &_text{
        color: $secondary_color;
        font-weight: 700;
        font-size: 25px;
      }
    }
}