@import "scss/variables.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard_chat{
  z-index: 10000;
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    height: 100px;
    width: 100px;
  }

  &_icon{
    color: $secondary_color;
    height: 70px;
    width:70px;
    border-radius: 50px;
  }

  &_text{
    color: $secondary_color;
    font-weight: 700;
    font-size: 25px;
  }
}